<div class="main-container ">

    <div class=" col-lg-7  question-container">

        <div style="font-size: large;margin-bottom: 2rem;">
            {{currentQuestion.id}}. {{ currentQuestion.question}}
        </div>
        <div>
            <button *ngFor="let option of currentQuestion.options" [ngClass]="renderSelectedCss(option)"
                [disabled]="true">
                <span>{{option}}</span>
            </button>

        </div>
    </div>
    <div class=" col-lg-3 correction-container" >

        <div class="crt-block-correct" *ngIf="currentQuestion.isResultCorrect">

            <span> Reponse correct </span>
        </div>
        <div class="crt-block-false" *ngIf="!currentQuestion.isResultCorrect">

            <span> Reponse Fausse </span>
        </div>
        <div class="crt-block-theme">

            Theme abordé: {{currentQuestion.theme}}
        </div>
        <div class="crt-block-detail">

            <span> {{currentQuestion.detailCorrection}} </span>
        </div>


        <div class="crt-block-lien" style=" bottom:3rem;position: absolute; ">

            Pour plus d'information aller voir ici : <a [href]="currentQuestion.lienInfo" target="_blank">
                {{currentQuestion.lienInfo}} </a>
        </div>

    </div>
</div>