.question-block{
    margin: 1rem 0 1rem 0 ;
    border: 1px gray solid;
    border-radius: 10px;
    padding: 5px
}
nav{
  display: flex;
  margin-top:2em;
  justify-content: center;

}
nav a {
    margin-left:2em;
    text-decoration: none;
    font-size: 1.8rem;
    color: #3906c6 !important;
}
.btn-suivant{
  margin-top: 5rem;
  position: relative;
}
.active{
  text-decoration: underline !important;
} 