.question-block{
    margin: 1rem 0 1rem 0 ;
    border: 1px gray solid;
    border-radius: 10px;
    padding: 5px
}
nav a {
    margin-left:3em;
    text-decoration: none;
    font-size: 1.2rem;
}
.btn-suivant{
  margin-top: 5rem;
  position: relative;
}