<div class="container" style="margin-top:5rem">


    <div class="main-screen-container">
        <h4 style="text-align: center;">Get ready finally ready for your angular interview </h4>
        <!-- <p>
            This is all about getting some free training for you angular interview tomorrow :) <br>
            Pass the general test to see your overall skills. <br>
            Or You can directly chose what category you want to train for.
        </p> -->

        <div style="margin-top: 3rem;">
            <p> With <b> Angular interview training</b>Test yourself on the core concept and work on your weaknesses
            </p>
        </div>

        <div style="text-align: center;">

            <div class="button-test" (click)="redirectQuizz()">
                Start the test
            </div>

        </div>




    </div>
    <div class="test-skill-container">
        <h4 >Test your skills and get a detailed response </h4>

        <img src="assets\img\exampleTest.PNG" alt="">

        <h4 style="margin-top: 3rem;" >Get a feedback on your skills </h4>

        <img src="assets\img\dashboard.PNG" alt="">
    </div>
</div>








<!-- <div>
            <h5> Categories: </h5>
            <div class="wrapper-test-categorie">


                <div class="button-test">
                    http
                </div>
                <div class="button-test">
                    Router
                </div>
                <div class="button-test">
                    Module
                </div>
                <div class="button-test" >
                    Binding
                </div>
                <div class="button-test">
                    http
                </div>
                <div class="button-test">
                    Router
                </div>
                <div class="button-test">
                    Module
                </div>
                <div class="button-test">
                    Binding
                </div>
            </div>
        </div> -->